# Project exclude paths
/nice-bbs-model/target/

/nice-bbs-common/target
/nice-bbs-common/.mvn
/nice-bbs-common/mvnw.cmd
/nice-bbs-common/HELP.md
/nice-bbs-common/src/test

/nice-bbs-dao/target
/nice-bbs-dao/.mvn
/nice-bbs-dao/mvnw.cmd
/nice-bbs-dao/mvnw
/nice-bbs-dao/HELP.md
/nice-bbs-dao/src/test

/nice-bbs-model/src/test
/nice-bbs-model/target

/nice-bbs-service/src/test
/nice-bbs-service/target

/nice-bbs-web/src/test
/nice-bbs-web/target

.idea
.gitignore
spring.log
